* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-title-screen {
    background-color: #FFE255;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.main-title-screen > * {
    display: inherit;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-title-screen nav {
    flex-direction: row;
    position: absolute; 
}

.main-title-screen nav > * {
    padding: 1em 2em;
    color: #000;
    text-decoration: none;
    font-family: sans-serif;
}

#title-screen-centred-title {
    height: 100%;
    flex-direction: column;
}

#title-screen-centred-title h1 {
    font: bold small-caps 8em sans-serif;
    color: white;
}